.Main{
  background-color: #d8d8d8;
  min-height: 100vh;
  padding: 24px;
}

/*--------------
     INPUT
---------------*/
        
.InputWrap{
  display: flex;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 24px;
  box-shadow: 3px 3px 12px 1px grey;
}

.Input{
  width: 80%;
  padding: 4px 8px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #3a8ac0;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: 0;
}

.Button{
  width: 20%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/*-----------
    CARD
-----------*/

.CardList{
  display: flex;
  flex-wrap: wrap;
}

.Card{
  margin: 24px 24px 0 0;
  width: 200px;
  height: fit-content;
  padding: 12px;
  border-radius: 12px;
  background-color: #3a8ac0;
  font-size: 14px;
  color: #fff;
}

.ActionButton{
  display: flex;
  justify-content: flex-end;
}

.DeleteCity{
  background-color: #fff;
  border: none;
}

.MainInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title{
  font-size: 24px;
  font-weight: 500;
}

.Description{
  margin-top: 4px;
  font-size: 16px;
}

.Temperature{
  margin-top: 12px;
  font-size: 40px;
  font-weight: 500;
}

.Temperature::after{
  content: "°";
}

.Information{
  margin-top: 12px;
}

.Information > div {
  margin-top: 4px;
}

