.Main{
  background-color: #d8d8d8;
  height: 100vh;
  padding: 24px;
}

.InputWrap{
  display: flex;
  height: 50px;
  border-radius: 15px;
  box-shadow: 3px 3px 12px 1px grey;
}

.Input{
  width: 80%;
  padding: 4px 8px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #3a8ac0;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: 0;
}

.Button{
  width: 20%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}